
body {
    background-color: lightblue;
}
ol
li {
    margin: 5px;
    background: #cce5ff;
    padding: 5px;
    text-align: left;
}

.image-background {
  background: #000;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

img {
  display: block;
  max-height: 500px;
  max-width: 500px;
	height: 300px;
  margin: auto;
}

.treeProfileContent{
	vertical-align: middle;
	text-align: left;
  top: 400px;
  transform: translate(35%, 0);
}
